/.vscode
/bin
/lib
/tree.bat
build/linux/cmake_install.cmake
build/linux/CMakeCache.txt
build/linux/HardwareInfo
build/linux/Makefile
build/linux/CMakeFiles/CMakeDirectoryInformation.cmake
build/linux/CMakeFiles/CMakeOutput.log
build/linux/CMakeFiles/Makefile2
build/linux/CMakeFiles/TargetDirectories.txt
build/linux/CMakeFiles/HardwareInfo.dir/build.make
build/linux/CMakeFiles/HardwareInfo.dir/DependInfo.cmake
build/linux/CMakeFiles/HardwareInfo.dir/flags.make
build/linux/CMakeFiles/HardwareInfo.dir/src/main.cpp.o
build/linux/CMakeFiles/HardwareInfo.dir/src/main.cpp.o.d
build/linux/CMakeFiles/HardwareInfo.dir/src/utils/LinuxDeviceInfo.cpp.o
build/linux/CMakeFiles/HardwareInfo.dir/src/utils/LinuxDeviceInfo.cpp.o.d
